<div class="spacer"></div>
<h2 style="text-align: center">Featured Creators:</h2>
<div class="container">
<!--  <div class="at-section">-->
<!--    <div class="at-section__title">Featured Creators:</div>-->
<!--  </div>-->
  <div class="at-grid" data-column="3">

    <div class="at-column" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://thumbnails.lbry.com/UCwow4CXdvIfGj126J10LN3w"/></div>
        <div class="at-user__name">Aaron Rossi</div>
        <ul class="at-social">
          <li class="at-social__item">
            <button class="button">View Details</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
