
$lighter-secondary-color: lighten(#606c76, 38%);

.mouse {
  position: relative;
  min-width: 50px;
  width: 50px;
  height: 80px;
  border-radius: 30px;

  border: 5px solid $lighter-secondary-color;
  &:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $lighter-secondary-color;
    animation: scroll 1s infinite alternate;
    @keyframes scroll {
      100% {transform: translate(-50%, 15px)}
    }
  }
}
