<div class="spacer"></div>
<h2 style="text-align: center">You can also search for your favorite creators</h2>
<div class="row" style="min-height: 50vh;">

  <div class="column">
    <input placeholder="Search for a lbry or odysee.com channel"
      type="search" [(ngModel)]="searchTerm" (change)="lookupCreators($event)"
           (keyup)="keyUp()">
  </div>
  <div class="column">
    <ng-container *ngIf="searchResults.length">
      <ng-container *ngFor="let result of searchResults;let i = index">
        <app-creator-card [data]="result" [index]="i"></app-creator-card>
      </ng-container>
    </ng-container>
  </div>
</div>
